doctype html
html(lang='en')
  head
    title RES SandBox
        link(href='styles/style.css' rel='stylesheet')
    body
        h1 Mason's RES Sandbox
        .navbar.navbar-default(role='navigation')
          .container
                .navbar-header
                .navbar.collapse.collapse
                  ul.nav.navbar-nav
                     li
                        a(href='/') Home
                     li
                        a(href='/auth') Directory listing
                     li
                        a(href='/users') User Panel
                     li
                        a(href='/users/login') Login
                   ul.nav.navbar-nav.navbar-right
                     li
                        a(href='/users/logout') Logout
          .container
          block content

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
        script(src='/javascripts/bootstrap.js')
